@model Kwetter.Services.Identity.Api.Models.AccountViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<div class="page-wrapper">
    <div class="ver-container">
        <header>
            <div class="content">
                <div class="logo">
                    <div class="site-title" to="/">
                        <img src="~/images/logo.png"/>
                    </div>
                </div>
                <nav>
                    <div class="nav-content">
                        <a asp-area="" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">REGISTER</a>
                        <a class="active" style="margin-right: 65px;">LOGIN</a>
                    </div>
                </nav>
            </div>
        </header>
        <div class="main-item">
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-container">
                <input type="hidden" asp-for="ReturnUrl"/>
                <h4>ARE YOU REGISTERED?</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-row">
                    <label asp-for="Email"></label>
                    <input asp-for="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-row">
                    <label asp-for="Password"></label>
                    <input asp-for="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="input-row">
                    <div>
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe"/>
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="input-row">
                    <button type="submit" class="btn">&nbsp;LOG IN&nbsp;</button>
                </div>
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text">Register as a new user?</a>
                </p>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}