@model Kwetter.Services.Identity.Api.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="page-wrapper">
    <div class="ver-container">
        <header>
            <div class="content">
                <div class="logo">
                    <div class="site-title" to="/">
                        <img src="~/images/logo.png"/>
                    </div>
                </div>
                <nav>
                    <div class="nav-content">
                        <a class="active" style="margin-right: 65px;">REGISTER</a>
                        <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">LOGIN</a>
                    </div>
                </nav>
            </div>
        </header>
        <div class="main-item">
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-container">
                <h4>CREATE NEW ACCOUNT</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div>
                    <div class="input-row">
                        <label asp-for="User.Name">NAME</label>
                        <input asp-for="User.Name"/>
                        <span asp-validation-for="User.Name" class="text-danger"/>
                    </div>
                    <div class="input-row">
                        <label asp-for="User.DisplayName">USERNAME</label>
                        <input asp-for="User.DisplayName"/>
                        <span asp-validation-for="User.DisplayName" class="text-danger"/>
                    </div>
                    <div class="input-row">
                        <label asp-for="User.PhoneNumber">PHONE NUMBER</label>
                        <input asp-for="User.PhoneNumber"/>
                        <span asp-validation-for="User.PhoneNumber" class="text-danger"/>
                    </div>
                </div>
                <br/><br/>
                <div>
                    <div class="input-row">
                        <label asp-for="Email"></label>
                        <input asp-for="Email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="input-row">
                        <label asp-for="Password"></label>
                        <input asp-for="Password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="input-row">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="input-row">
                    <button type="submit" class="btn">&nbsp;Register&nbsp;</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}