@using IdentityServer4.Extensions

<div class="page-wrapper">
    <div class="ver-container">
        <header>
            <div class="content">
                <div class="logo">
                    <div class="site-title" to="/">
                        <img src="~/images/logo.png"/>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-item">
            <h1>Welkom op de Identity Server van Kwetter!</h1>
            @if (Context.User.IsAuthenticated())
            {
                <a href="@ViewData["KwetterUrl"]">Gebruik Kwetter hier</a>
            }
            else
            {
                <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Log hier in</a>
            }
        </div>
    </div>
</div>